<%= link_to "Create New Movie", new_movie_path, class: "create-movie-button" %>
<% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
    <%= image_tag movie.image_file_name %>
      <h2>
        <%= link_to movie.title, movie_path(movie) %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
      <%= link_to "Add a review", new_movie_review_path(movie) %>
       | 
      <%= link_to "Check all reviews here", movie_reviews_path(movie)%>
      <br/>
      <p><span class="avg-rating">Average Rating: </span><%= average_stars(movie) %></p>
    </div>
  </section>
<% end %>