
<div class="show-div">
  <p><span class="show-content">Name: </span><%= @movie.title %></p>
  <p><span class="show-content">Description: </span><%= @movie.description %></p>
  <p><span class="show-content">Release Date: </span><%= @movie.released_on %></p>
  <p><span class="show-content">Collection: </span><%= total_gross(@movie) %></p>
  <p><span class="show-content">Rating: </span><%= @movie.rating %></p>
  <p><span class="show-content">Director: </span><%= @movie.director %></p>
  <p><span class="show-content">Duration: </span><%= @movie.duration %></p>
  <p><span class="show-content">Input File Name: </span><%= @movie.image_file_name %></p>
  <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
  <%= link_to "Delete", movie_path(@movie), class: "button", method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back to Movies List', movies_path, class: "button" %>
</div>