<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <%= image_tag 'logo' %>
  <p style="float:right">New User? <span class="signup"><%= link_to 'signup here', signup_path %></span> </p>
  </header>
  <div class="content">
    <%= yield %>
  </div>
  <footer style="text-align:center">Copyrights to <a href="https://www.google.com" style="text-decoration:none">Flix.com</a> @ <%=Time.now.year%></footer>
  </body>
</html>
